body {
  margin-left:100px;
  margin-right:100px;
}

.main-table
  td {
    text-align: right;
  }
  .tableElement  {
    color: #42AAE2;
  }
  .table-element-left{
   text-align: left;
  }
  .tableElement:hover{
    color:#428BCA;
    text-decoration: underline;
  }
  .percent-green{
    color:#009933;
  }
  .percent-red{
    color:#DA4836;
  }
  .main-table {
    width: 80%;
    font-size: 9px;
  }

.currencySelector{
  background-color:#42AAE2;
  color: #fff;
}
.currencySelector > option {
  color: #42AAE2;
  background-color: white;
}
